/* *{
  background-color: rgb(213, 211, 211);
} */

.container{
  margin: 200px;
  margin-left: 23%;
}

*{
  margin: 5px;
}

.column-izq, .column-center, .column-der{
  float: left;
}

.der{
  float: left;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
}

.botones{
  border: 3px solid silver;
  color: silver;
  justify-content: space-around;
  border-radius: 25px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}